h1 {
  text-align: center;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  margin-top: 60px;
  text-shadow: white 1px 1px 10px;
  color: black;
}
#form {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  margin-top: 0;
  padding: 20px 0px 0 0;
  width: 580px;

  text-shadow: white 1px 1px 10px;
}
#formContainer {
  background-color: rgba(240, 248, 255, 0.568);
  border-radius: 8px;
  width: 590px;
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 0;
  font-size: 12px;
}
#input {
  width: 380px;
  padding: 12px 10px;
  border: 2px solid #526481;
  border-radius: 20px;
  margin: 5px;
}
#submit {
  padding: 8px 10px;
  border: 2px solid #526481;
  background-color: #526481;
  border-radius: 8px;
  width: 85px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#submit:hover {
  color: #354868;
  background-color: white;
  box-shadow: 2px 2px 12px white;
}
#Interpretation {
  text-align: left;
  font-size: 14px;
  font-family: monospace;
  line-height: 1.5;
  margin: 20px auto 15px;
  padding: 20px;

  background-color: rgba(240, 248, 255, 0.568);
  border-radius: 8px;
  width: 560px;
  height: max-content;
  border-left: solid 4px #354868;
}
#title {
  padding-top: 15px;
  padding-bottom: 0px;
  font-size: 24px;
  font-weight: bolder;
}
#explaination {
  padding-top: 5px;
  padding-bottom: 0px;
  font-size: 14px;
}
#signature {
  padding: 0px 0px 15px 0px;
  color: #354868;
  font-weight: 600;
  opacity: 60%;
}
body {
  background-image: url(d\ pic.jpg);
  opacity: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  font-size: 12px;
  text-align: center;
  color: white;
  background-color: #4059837a;
  width: 560px;
  height: max-content;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
}
a {
  color: rgb(82, 3, 3);
}
.blink {
  animation: blink 1s linear infinite;
}
@keyframes blink {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}
.ie {
  font-size: 8;
  color: rgba(0, 0, 0, 0.548);
  text-align: left;
  padding-left: 50px;
}
